html {
    height: 100vh;
}

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;

    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;

    background-color: #2b2b2b;
}

#logo {
    width: 4em;

    padding: 0.25em 0em;
}

.navbar-links-container {
    display: flex;
    align-items: center;
}

a {
    color: white;
    font-weight: 500;

    padding: 0em 1em;

    text-decoration: none;

    transition: 0.3s;
}

a:hover {
    color: #f91754;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    flex-grow: 1;
}

main div {
    display: flex;
    align-items: center;
    justify-content: space-around;

    text-align: center;
}

.greeting {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    color: #2b2b2b;

    max-width: 95%;
}

.mainHeader {
    font-size: 10em;

    margin: 0;
}

span {
    color:#f91754;

}

.mainSection {
    align-self: flex-end;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    border: 3px solid #f91754;
    border-radius: 20px;

    text-align: center;

    width: 50em;
    height: 15em;

    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    outline: none;
}

button {
    margin: 0.75em 0em;

    padding: 1em 1.5em;

    font-size: 1em;
    font-weight: 600;

    color: white;
    background-color: #f91754;

    border: none;
    border-radius: 25px;

    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    transition: 0.3s;
}

button:hover {
    background-color: white;
    color: #f91754;
}

#docs-mainHeader {
    font-size: 7em;
}

.style-rules-container {
    display: flex;
    align-items: space-around;
    flex-grow: 1;
}

.style-rules {
    display: flex;
    flex-direction: column;

    text-align: initial;

    width: 30%;
    height: 100%;
}

details {
    width: 100%;
    border: 2px solid #f91754;
    border-radius: 25px;

    padding: 1em;

    margin: 1em 0em;
}

details:hover {
    cursor: pointer;
}

#docs-subHeader {
    margin-bottom: 5em;
}

.response-container {
    display: flex;
}

.response-text-container {
    display: flex;
    flex-direction: column;

    border: 3px solid #f91754;
    border-radius: 25px;

    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    min-width: 50em;

    padding: 1em;

    margin: 0em 1em;
}

.response-header {
    font-size: 1.75em;
    color: #f91754; 
}

.response-text {
    max-width: 50em;

    display: inline-block;
}

.non-correct {
    color: black;
}

svg {
    width: 5em;
}
@media (max-width: 1650px) {
    .firstMain {
        flex-direction: column;
        justify-content: space-evenly;

        margin-bottom: 0;

        flex-grow: 1;
    }

    .mainHeader {
        margin-top: 0;
    }

    .mainSection {
        align-self: center;
    }

    .response-container {
        flex-direction: column;
        flex-grow: 1;


    }

    .response-text-container {
        margin: 1em;
            }
}

@media (max-width: 920px) {
    .greeting {
        font-size: 70%;
    }

    .style-rules {
        width: 70%;
    }

    textarea {
        width: 98%;
    }

    .style-rules-container {
        flex-direction: column;
    }

    .response-text-container {
        min-width: 90vw;
    }
}

@media (max-width: 600px) {
    .greeting {
        font-size: 60%;
    }

    textarea {
        width: 95%;
    }

}

@media (max-width: 510px) {
    .greeting {
        font-size: 48%;
    }

    textarea {
        width: 90%;
    }
}