<!DOCTYPE html>

<html>

<head>
    <title>FreeStyle - AP Style & Grammar Check</title>
    <meta name="description" content="Free online AP Style Checker and Grammar checker">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav>
        <div class="navbar-logo-container">
            <a href="/home"><img src="/static/FreeStylelogo.png" id="logo"></a>
        </div>

        <div class="navbar-links-container">
            <a class="navbar-link" href="/docs" target="_blank">Docs</a>
            <a class="navbar-link" href="https://github.com/SumitNalavade/apstylecheck" target="_blank">GitHub</a>
        </div>
    </nav>

    <main>
        <div class="firstMain">
            <section class="greeting">
                <h1 class="mainHeader" id="docs-mainHeader">Write with <span>Accuracy</span></h1>
                <h2 class="subHeader" id="docs-subHeader">FreeStyle uses the latest <span>AP styling</span> guidelines
                </h2>
            </section>
        </div>

        <div class="style-rules-container">
            <div class="style-rules">
                <details>
                    <summary>Numbers To Start Sentences</summary> <br>
                    When using a number to start a sentence, the number should be written in word instead of using
                    figures <br>
                    <b><span>*The only exception to the rule is when you are writing a year*</span></b> <br><br>
                    Example: <br>
                    <span>Two hundred</span> freshmen filled the auditorium for the assembly. <br>
                    <span>1776</span> is the year the Declaration of Independence was signed
                </details>
                <details>
                    <summary>Age</summary> <br>
                    When noting a person’s age then use the proper number formats <br>
                    <b><span>Exception: When the age is starting a sentence</span></b> <br><br>
                    Example: <br>
                    Jerry Jones is <span>75</span> years old <br>
                    <span>Ten-year-old</span> Tony Chambers was named the winner of the spelling bee.
                </details>
                <details>
                    <summary>Social Media Names</summary> <br>
                    Names of social media are considered proper nouns. The first letter should always be capitalized
                    <br>
                    <b><span>Exception: iOS, iPhone</span></b> <br><br>

                    Example: <br>
                    Twitter
                    Instagram
                    Snapchat
                </details>

                <details>
                    <summary>Effect vs Affect</summary> <br>
                    Effect: Noun meaning to describe the result of something <br>
                    Affect: used to describe the change or influence of something <br><br>

                    Example: <br>
                    He didn’t realize the <span>effects</span> of not taking notes. <br>
                    The dog wished the beans didn’t <span>affect</span> his stomach so much <br>
                </details>

                <details>
                    <summary>Seasons</summary> <br>
                    Seasons are not to be capitalized <br>
                    <b><span>Exception: Seasons are only capitalized when they are used in a formal title</span></b>
                    <br><br>

                    Example: <br>
                    This <span>summer</span>, there are several students attending camps. <br>
                    The <span>Summer</span> Olympics will be held in Tokyo 2020
                </details>
            </div>

            <div class="style-rules">
                <details>
                    <summary>General Numbers</summary> <br>
                    When using a number spell out the word for numerals zero through nine:<br>
                    When talking about numbers that are 10 and above, use digits <br>
                    When numbers are one hundred and above use words <br> <br>

                    Example: <br>
                    There are only <span>five</span> questions on the quiz.<br>
                    There are <span>20</span> people enrolled in the class. <br>
                    The game is expected to attract over <span>two thousand</span> tourists in Victory Plaza.
                </details>
                <details>
                    <summary>Schools</summary> <br>
                    When writing a school name, the first letter of each word in the name should be capitalized.<br>
                    <br>

                    Example: <br>
                    <span>H</span>eritage <span>H</span>igh <span>S</span>chool <br>
                </details>
                <details>
                    <summary>It's vs Its</summary> <br>
                    It’s: When an apostrophe is used, this is a contraction of “It is” <br>
                    Its: This is used to show possession as a pronoun. <br><br>

                    Example: <br>
                    <span>It’s</span> 40 degrees outside <br>
                    The carrier lost <span>its</span> license
                </details>

                <details>
                    <summary>Title Capitalization</summary> <br>
                    When using titles before a person’s name, the first letter of the title is capitalized <br> <br>

                    Example: <br>
                    <span>P</span>resident Joe Biden <br>
                    <span>G</span>overnor Greg Abbott <br>
                </details>

                <details>
                    <summary>Percentages</summary> <br>
                    Use figures and words to write out a percentage <br>
                    <b><span>Exception: When a percentage starts a sentence, do not use figures.</span></b>

                    Example: <br>
                    About <span>60</span> percent of students wait until the last minute to prepare for a test <br>
                    <span>Ten percent</span> of the classroom had computers <br>
                </details>
            </div>
        </div>
    </main>

</body>

</html>