<!DOCTYPE html>

<html>

<head>
    <title>FreeStyle - AP Style & Grammar Check</title>
    <meta name="description" content="EasyVax- Find COVID-19 Vaccines in your local neighborhood">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav>
        <div class="navbar-logo-container">
            <a href = "/home"><img src="/static/FreeStylelogo.png" id="logo"></a>
        </div>

        <div class="navbar-links-container">
            <a class="navbar-link">Documentation</a>
            <a class="navbar-link">GitHub</a>
        </div>
    </nav>

    <main>
        <div class="firstMain">
            <section class="greeting">
                <h1 class="mainHeader" id="docsHeader">Write with <span>accuracy</span></h1>
                <h2 class="subHeader">FreeStyle uses the latest <span>AP Style rules</span> and Grammar Syntax</h2>
            </section>

            <section class="mainSection">
                <img src="https://www.shareicon.net/data/2016/04/11/748033_arrows_512x512.png" id="audienceImg">
            </section>
        </div>
    </main>

</body>

</html>