<!DOCTYPE html>

<html>

<head>
    <title>FreeStyle - AP Style & Grammar Check</title>
    <meta name="description" content="Free online AP Style Checker and Grammar checker">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav>
        <div class="navbar-logo-container">
            <a href="/home"><img src="/static/FreeStylelogo.png" id="logo"></a>
        </div>

        <div class="navbar-links-container">
            <a class="navbar-link" href="/docs">Docs</a>
            <a class="navbar-link" href="https://github.com/SumitNalavade/apstylecheck" target="_blank">GitHub</a>
        </div>
    </nav>

    <main>
        <div class="firstMain">
            <section class="greeting">
                <h1 class="mainHeader">Free<span>Style</span></h1>
                <h2 class="subHeader">Check Grammar and AP Style for Free!</h2>
            </section>

            <section class="mainSection">
                <form action="/send" method="POST">
                    <textarea rows="5" cols="60" name="usertext" placeholder="Enter each paragraph..."
                        name="usertext"></textarea>

                    <button>Check Grammar and Styling</button>
                </form>
            </section>
        </div>

        {%if usertext%}
        <div class="response-container">
            <div class="response-text-container">
                <h3 class="response-header">Original Text</h3>
                <div>
                    {{usertext}}
                </div>
            </div>

            <div class="response-text-container">
                <h3 class="response-header">Corrections</h3>
                {% for original,correction in (grammarCorrections.items()) %}
                <p class="response-text">{{original}} {%if original != ""%} {%if original != " "%}<span><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                        </svg></span>{%endif%} {%endif%} {{correction}}</p>
                {%endfor%}

            </div>

        </div>
        {%endif%}

    </main>

</body>

</html>
