<!DOCTYPE html>

<html>

<head>
    <title>FreeStyle - AP Style & Grammer Check</title>
    <meta name="description" content="EasyVax- Find COVID-19 Vaccines in your local neighborhood">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav>
        <div class="navbar-logo-container">
            <a><img src="/static/FreeStylelogo.png" id="logo"></a>
        </div>

        <div class="navbar-links-container">
            <a class="navbar-link">Documentation</a>
            <a class="navbar-link">GitHub</a>
        </div>
    </nav>



    <main>
        <section class="greeting">
            <h1 class="mainHeader">Free<span>Style</span></h1>
            <h2 class="subHeader">Check Grammer and AP Style for Free!</h2>
        </section>

        <section class="mainSection">
            <form action="/send" method="POST">
                <textarea rows="5" cols="60" name="usertext" placeholder="Enter text here..."
                    name="usertext"></textarea>

                <button>Check Grammer and Styling</button>
            </form>
        </section>
    </main>

    {%if grammerCorrections%}
    <h1>{{ grammerCorrections }}</h1>
    {%endif%}

</body>

</html>